<section class="TodoSection">
  <div class="TodoSection-heading">
    <p class="TodoSection-title"> <%=section_title%> </p>
    <p class="sectionTitle-remaining-item"><%= todos.completed.count%>/<%= todos.count%></p>
  </div>
  <ul>
    <%todos.each do |todo|%>
      <li class="TodoItem">
      <%= form_with(url: "/todos/#{todo.id}",method: "put") do %>
        <%= check_box_tag "completed",nil, todo.completed ,class:"TodoItems-Checkbox",onclick:"this.form.submit()" %>
      <%end%>
        <p class=<%=todo.completed ? "Cut_Items" : "TodoSection-todo" %> ><%= todo.todo_text %> </p>
        <% if show_due_date%>
        <p class= "TodoItem-dueDate"> <%=todo.due_date.to_s(:short)%> </p>
        <% end %>
        <a class="TodoItem-delete" href="javascript:void(0)">
          <%=form_with(url:"/todos/#{todo.id}" ,method: "delete") do %>
          <%= image_submit_tag("/delete.png", class:"delete-icon")%>
          <% end %>
        </a>
      </li>
    <% end %>
  </ul>
</section>
